<!DOCTYPE html>
<html>
	<script>var __adobewebfontsappname__="dreamweaver"</script>
        <script src="http://use.edgefonts.net/kelly-slab:n4:default.js" type="text/javascript"></script>

<head>
	<title>Course Mate</title>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js" type="text/javascript"></script>	


	<script>
	  $(function() {
	    var availableTags = [
	      "ActionScript",
	      "AppleScript",
	      "Asp",
	      "BASIC",
	      "C",
	      "C++",
	      "Clojure",
	      "COBOL",
	      "ColdFusion",
	      "Erlang",
	      "Fortran",
	      "Groovy",
	      "Haskell",
	      "Java",
	      "JavaScript",
	      "Lisp",
	      "Perl",
	      "PHP",
	      "Python",
	      "Ruby",
	      "Scala",
	      "Scheme"
	    ];
	    $("#faculty" ).autocomplete({
	      source: availableTags
	    });
	  });
  </script>
</head>
<body>
	<div id="header">

		<div id="header-left">
			<img src="/static/images/logo.png" height="95" width="325">
			<div id="redirects">
				<div>About</div>
				<div>Mission</div>
				<div>Contact</div>
			</div>

	
		</div>
		<div id="header-right">

			<div id="logos">
				<div>
					<img id="fb-logo" src="/static/images/twitter-logo.png" height="35" width="35">
				</div>
				<div>
					<img id="tw-logo" src="/static/images/facebook-logo.png" height="35" width="35">
				</div>
			</div>
		</div>
	</div>
	<div id="content">

		<div id = "container">
			<img src="static/images/icon.png" height="145" width="175">
			<div id="form-submit">
				<h2>Please provide us with the following information:</h2>
				<form method="post">
					<input id="faculty" type="text" name="faculty" placeholder="Plese Select a Faculty?" >
					<input type="text" name="major" placeholder="Please Select a Major">
					<input type="text" name="minor" placeholder="Please Select a Minor">
					<input type="text" name="sminor" placeholder="Please Select a Second Minor">
					<input id="generate-schedule" type="submit" value="Next">
				</form>
				<div id="error">{{error}}</div>
			</div>
		</div>

	</div>
	
	<div id="footer">

		<img id = "copyright" src="/static/images/copyright.png" height="140" width="295">
		
		<div id="redirects-bottom">
			<div>
				<h2>Company</h2>
				<div>About</div>
				<div>Leadership</div>
				<div>Careers</div>
				<div>People</div>

			</div>

			<div>
				<h2>Friends</h2>
				<div>Partners</div>
				<div>Programs</div>
				<div>Developers</div>
				<div>Translate</div>

			</div>

			<div>
				<h2>Connect</h2>
				<div>Google +</div>
				<div>Twitter</div>
				<div>Facebook</div>
				<div>Blog</div>

			</div>

			<div>
				<h2>More</h2>
				<div>Terms</div>
				<div>Privacy</div>
				<div>Help</div>
				<div>Press</div>
				<div>Contact</div>

			</div>

		</div>

	</div>
</body>
</html>