#header{
	display: block;
	width: 100%;
	height: 100px;
	
}

#header-left{
	float: left;
	width: 70%;
	height: 100%;
	background: white;
	color: black;
}

#header-left h1{
	margin-left: 50%;
	font-size: 32px;
}

#header-left h2{
	margin-left: 50%;
	font-size: 16px;
}
/*Done Header Left*/

#header-right{
	float: left;
	width: 30%;
	height: 100%;
	background: white;
}

#logos{
	padding-left: 100px;
	width: 60%;
	height: 100%;
}

#logos div{
	padding: 20px 10px;
	display: inline-block;
	height: inherit;
	width: 60px;
}


#fb-logo{

}

#tw-logo{

}


#content{
	display: block;
	width: 100%;
	height: 600px;
	background: url("images/sex.png");
	background-size: cover;
}

#form-submit{
	margin-left: 60%;
	width: 40%;
	height: 500px;
	
}

#form-submit h2{
	padding-top: 15px;
	color: white;
	margin: 0 20px;
	
}

form{
	margin: 5% 0 0 0;
}

input{
	padding: 20px 15px;
	margin: 10px 0;
	width: 400px;
	border-radius: 10px;
	border-color : none;
}

#generate-schedule{
	width: 150px;
	margin-left: 150px;
}

#footer{
	border-top: 5px solid black;
	display: block;
	width: 100%;
	height: 50px;
	background: white;
}

#redirects{
	height: 100px;
	margin: 15px 200px;
	display: inline-block;
}
#redirects div{
	padding: 0 20px;
	display: inline-block;
	font-size: 26px;
	color: black;
}

#copyright{
	margin-left: 50px;
	display: inline-block;
}